<div class="agenda_event">
	<h2><span style="color:<%= event.escape("color") %>;"><%= event.escape("title") %></span></h2>
	<p><%= event.get("start_time") %> to <%= event.get("end_time") %></p>
</div>