<h1>Agenda for calendar <span style="color:<%= calendar.escape("color") %>;"> <%= calendar.escape("title") %> </span></h1>

<ul>
	<li>Agenda goes here!</li>
</ul>

<input type="submit" id="deleteCalendar" value="Delete Calendar">