<h1>Agenda for calendar <span style="color:<%= calendar.escape("color") %>;"> <%= calendar.escape("title") %> </span></h1>

<!-- <ul id="agendaList">
</ul> -->

<table id="agendaList">
	
</table>

<input type="submit" id="editCalendar" value="Edit Calendar">
<input type="submit" id="deleteCalendar" value="Delete Calendar">
