<h1> Daily View </h1>
<h2> <%= (currentlyShowingDate).toLocaleDateString() %> </h2>
<table class="dailyCalendar">
<tr>
	<th>Time</th><th>Event</th>
</tr>
<% _(24).times (function (hourNum) {%>
	<tr>
		<td>
		<%=((hourNum + 1) % 12) || 12 %>
		<% AMPMTime = ((hourNum + 2) / 12) %>
		<%= ( AMPMTime > 1 && AMPMTime <= 2) ? "PM" : "AM" %></td> <td id="hour<%= hourNum + 1 %>" class="hourRow"></td>
	</tr>
<%}); %>
</table>