<h1> Daily View </h1>
<button id="prev_day"> &laquo; previous day </button>
<button id="next_day"> next day &raquo; </button>
<h2> <%= (currentlyShowingDate).toLocaleDateString() %> </h2>
<table class="dailyCalendar">
<tr>
	<th>Time</th><th>Event</th>
</tr>
<% _(24).times (function (hourNum) {%>
	<tr>
		<td class="hourName">
		<%=((hourNum + 1) % 12) || 12 %>
		<% AMPMTime = ((hourNum + 2) / 12) %>
		<%= ( AMPMTime > 1 && AMPMTime <= 2) ? "PM" : "AM" %></td> <td id="hour<%= hourNum + 1 %>" class="hourRow"></td>
	</tr>
<%}); %>
</table>