Choose or create your calendar:
<select id="calendar_chooser">
	<option>Choose an option:</option>
<% calendars.each(function(calendar){ %>
	<option value="<%= calendar.id %>"><%= calendar.escape("title") %>
	</option>
	<% }); %>
	<option disabled="disabled">----------------</option>
	<option value="new">New Calendar</option>
</select>