<div class="toolbar"> Agenda | Weekly | Monthly </div>
<div id="calendar"></div>

<script type="text/javascript">
	Calendary.current_user = new Calendary.Models.User(<%= current_user.to_json.html_safe %>, {parse: true})
</script>