// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Quattrocento);

html, body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #FFE8BE;
	font-family: Quattrocento;
	font-size: 18pt;
}



.header li {
	display: inline-block;
	margin:2px;
}
.header ul {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.header {
	background-color: #FFD58A;
	height: 20pt;
	font-size: 18pt;
}

.login {
	margin:2px;
}

#calendar_index {
    float:left;
    display: block;
    width: 20%;
    border: solid 1px black;
    position: relative;
}

#calendar {
    display: block;
    float:left;
}
